{{- if and .TLSEnabled .TLSUsesManagedIssuer }}
apiVersion: cert-manager.io/v1
kind: Issuer
metadata:
  name: {{.TLSIssuerName}}
  namespace: {{.AppNamespace}}
  labels:
    app.kubernetes.io/name: {{.ServiceName}}
    app.kubernetes.io/component: databaseprovider
    db.infrastructure.opendatahub.io/provider: {{.Component.Name}}
spec:
  selfSigned: {}
{{- end }}
