apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{.PVCName}}
  namespace: {{.AppNamespace}}
  labels:
    app.kubernetes.io/name: {{.ServiceName}}
    app.kubernetes.io/component: databaseprovider
    db.infrastructure.opendatahub.io/provider: {{.Component.Name}}
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: {{.Component.Spec.Embedded.Storage.Size.String}}
{{- if .Component.Spec.Embedded.Storage.StorageClassName }}
  storageClassName: {{.Component.Spec.Embedded.Storage.StorageClassName }}
{{- end }}
