apiVersion: v1
kind: Service
metadata:
  name: {{.ServiceName}}
  namespace: {{.AppNamespace}}
  labels:
    app.kubernetes.io/name: {{.ServiceName}}
    app.kubernetes.io/component: databaseprovider
    db.infrastructure.opendatahub.io/provider: {{.Component.Name}}
spec:
  clusterIP: None
  selector:
    app.kubernetes.io/name: {{.ServiceName}}
  ports:
    - name: postgres
      port: 5432
      protocol: TCP
      targetPort: postgres
