apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: feast-apiserver-reader
rules:
  - apiGroups:
      - config.openshift.io
    resources:
      - apiservers
    verbs:
      - get
      - list
      - watch
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: feast-apiserver-reader-binding
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: feast-apiserver-reader
subjects:
  - kind: ServiceAccount
    name: feast-operator-controller-manager
    namespace: {{ .AppNamespace }}
